<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta lang="ja">
        <title>index.html</title>
        <link rel="stylesheet" href="static\default.css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="static\graph.js" defer></script>
    </head>
    <body>
        <h1 class="center">Hello, World!</h1>
        <div class="grid">
            <div class="left_side">
                <ul>
                    <li>show_debug_data_out_in_cat</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                    <li>show_debug_data</li>
                </ul>
            </div>
            <div class="video-box">
                <video controls>
                    <source src="static\file_example_MP4_1920_18MG.mp4", type="video/mp4">
                    <!-- <source src="sample.mp4", type="video/mp4"> -->
                    
                </video>
                <div class="joystick">
                    <div class="stick"></div>
                </div>
            </div>
            <div id="graph"></div>
        </div>
    </body>
</html>